   
   @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

   *{
    padding: 0; margin: 0;
   }

   @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('../fonts/Helvetica.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Helvetica Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('../fonts/Helvetica-Oblique.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Helvetica Compressed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Compressed'), url('../fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Helvetica Rounded Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Rounded Bold'), url('../fonts/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Helvetica bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('../fonts/Helvetica-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Helvetica Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Bold Oblique'), url('../fonts/Helvetica-BoldOblique.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Light'), url('../fonts/helvetica-light-587ebe5a59211.woff') format('woff');
    }

  body{
    background-color: #FFFFFF!important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica bold';
 }

 .btn-pad-header{
  padding: 14px 60px; text-align: center;  
 }

 .btn-pad-regular{
  padding: 10px 20px; height: 34px;text-align: center;
 }
 .text-figtree{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto; 
  font-weight:500;
  font-style: normal;
}

 

#main-image {
  transition: opacity 0.25s ease;
}



.text-heading{
  font-family: 'Helvetica';
}


   /* Base grey line */
  .timeline-line-base {
    background: #E1E1E1;
    border-radius: 999px;
  }

  /* Animated gradient line */
  .timeline-line-progress {
    background: linear-gradient(to bottom, #DBDBF3, #1E1E31);
    border-radius: 999px;
    height: 0;
  }

  /* Timeline dots */
  .timeline-dot {
    width: 30px;
    height: 30px;
    background: #909090;
    border: 4px solid #FAFAFA;
    border-radius: 999px;
    z-index: 10;
  }

  /* Mobile responsive */
  @media (max-width: 768px) {
    .timeline-line-base,
    .timeline-line-progress {
      left: 24px !important;
      transform: none !important;
    }
  }
   
/* ========== BASE (ALL SCREENS) ========== */

.timeline-dot {
  width: 10px;
  height: 10px;
  background: #1E1E31;
  border: 2px solid #ffffff;
  border-radius: 999px;
  z-index: 10;
}

.timeline-line-base {
  background: #E1E1E1;
  border-radius: 999px;
}

.timeline-line-progress {
  background: linear-gradient(to bottom, #DBDBF3, #1E1E31);
  border-radius: 999px;
}

  .slider {
    width: 300%; /* 100% * number of slides */
  }

  .slide {
    width: 100%; /* full width per slide */
    height: 100%; /* full height per slide */
  }

.list-star li{
  background-image: url("../images/list-tick-star.png");
  background-repeat: no-repeat;
  background-position: left 4px; padding-left: 24px;
}
/* Swiper base */
.leader-swiper {
  width: 100%;
  padding: 20px 0;
}

.leader-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide {
  width: auto;
}

/* Card */
.leader-card {
  background: #FAFAFA;
  padding: 20px;
  min-width: 260px;
  overflow: hidden;
}

/* stagger effect */
.swiper-slide:nth-child(even) .leader-card {
  margin-top: 40px;
}

.leader-card h3 {
  text-align: center;
  color: #1E1E31;
  font-size: 20px;
  font-weight: bold;
  margin-top: 28px;
}

/* Image container */
.wave-img {
  width: 100%;
  display: block;
  transition: transform 0.6s ease;
  position: relative;
}

/* scale on hover */
.leader-card:hover .wave-img {
  transform: scale(1.08);
}

/* WAVE OVERLAY */
.wave-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 35%,
    rgba(255, 255, 255, 0.65) 50%,
    transparent 65%
  );
  transform: translateX(100%);
  transition: transform 0.8s ease;
  pointer-events: none;
}

/* wave animation */
.leader-card:hover .wave-img::after {
  transform: translateX(-100%);
}

.gt-thumb {
  max-width: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

/* images */
.gt-thumb img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: all 500ms ease;
}

/* wave image (FIRST IMAGE) */
.gt-thumb img:first-child {
  position: absolute;
  inset: 0;
  z-index: 1;
  transform: translateX(50%) scaleX(2);
  opacity: 0;
  filter: blur(10px);
}

/* hover animation */
.gt-thumb:hover img:first-child {
  transform: translateX(0) scaleX(1);
  opacity: 1;
  filter: blur(0);
}


.checkbox input {
  display: none;
}

.checkbox .box {
  width: 20px;
  height: 20px;
  border: 1px solid #1E1E31;
  background: white;
  position: relative;
  display: inline-block;
}

/* Tick */
.checkbox .box::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #1E1E31;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

/* Checked State */
.checkbox input:checked + .box::after {
  opacity: 1;
}

   /* Optional: better arrow visibility */
    .swiper-button-next,
    .swiper-button-prev {
      color: #000;
    }

    @media (max-width: 768px) {
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
 
.range-slider {
  -webkit-appearance: none;
  background: transparent;
  height: 8px;
}

 #autoSlider > div:nth-of-type(even){
  margin-top: 32px;
 }



/* Thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #1E1E31;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.range-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #1E1E31;
  border-radius: 50%;
  cursor: pointer;
} 



#timeline-progress {
  transform-origin: top;
  transform: scaleY(0);
  background: linear-gradient(to bottom, #DBDBF3, #1E1E31);
  transition: transform 0.2s ease-out; /* optional extra smoothness */
}

 .parallax-section {
  position: relative;
}

.parallax-sticky {
  position: sticky;
  top: 0; 
  overflow: hidden;
}

.parallax-img {
  width: 100%; 
  object-fit: cover;   
  transform: translateY(0) scale(1);
  will-change: transform;
  transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}
.parallax-sticky:hover .parallax-img {
  transform: translateY(var(--parallax-y, 0)) scale(1.08);
}


  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.text-10{
  font-size: 10px; line-height: 14px;
}
.text-12{
  font-size: 12px;
}
.text-14{
  font-size: 14px;
}
.text-17{
  font-size: 17px;
}

.text-16{
  font-size: 16px;
}

.text-18{
  font-size: 18px;
}

.text-20{
  font-size: 20px;
}

.text-30{
  font-size: 30px;
}

.text-24{
  font-size: 20px;
}

.text-55{
  font-size: 55px;font-family: 'Helvetica';
}

.text-black-variant{
color: #4C4C4C;
}
.text-20-heading{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #4C4C4C;
}

.text-24-heading{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}

.text-28-heading{
  font-size: 28px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}

.text-20-heading-black{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}

.text-38-heading{
  font-size:38px;font-family: "Plus Jakarta Sans", sans-serif; color: #1E1E31;
}


.text-20-heading-sidebar{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}
 

 .accordion-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 400ms ease, opacity 300ms ease;
  }

  .accordion-item.open .accordion-content {
    max-height: 500px; /* large enough for content */
    opacity: 1;
  }

.text-playfair-display{
  font-family: "Playfair Display", serif!important; font-size: 40px; line-height: 56px; font-weight: 800;
}


.ul-li-text{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #4C4C4C;
}

.faq-icon{
  padding: 15px 12px 15px 12px; align-items: center; justify-content: center; display: flex; background-color: #FFFFFF; border-radius: 100%; 
}

.bg-faq-item-block{
  background-color: #FFFFFF; padding: 18px 15px 18px 15px; margin-bottom: 15px;
}
.icon-dark{
  color: #1E1E31;
}

.faq-content{
  font-size: 14px; color: #000000;
}
   #siteHeader {
    position: relative;
    width: 100%; 
   transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease;
     transform: translateY(0);
  }

  .header-fixed {
  position: fixed!important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; background-color: #1E1E31;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transform: translateY(0); 
  }

  .priority-slider {
    height: 433px;
  }

.recentblogs-badges{
  padding: 5px; border-radius: 300px; background-color: rgba(30, 30, 49, 0.6);
} 
 

.badge-view{
  background-color: rgba(30, 30, 60, 0.6); border-radius: 300px; font-size: 16px; color: #FFF;font-family: "Figtree", sans-serif; padding: 12px 15px; top: 15px; right: 21px;

}
.para-txt{
  color: #4C4C4C; font-size: 20px; line-height: 28px;
}

.side-block-bg{
  background-color: #FAFAFA; padding: 20px;
} 
 
footer{
  background-color:#1E1E31
}
.accordion-content {
  color: #fff!important; opacity: 1!important;
}
.accordion-item a:hover {
  color: #d1d5db;
}
  .tags-popular-text, a.tags-popular-text {
font-family: "Figtree", sans-serif;
  font-weight: 400; font-size: 14px;
  font-style: normal; color: #6D6D6D; text-decoration: none;
}
 a.tags-popular-text:hover{
  text-decoration: none;color: #FFFFFF;background-color: #6D6D6D;
 }

 .reveal {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
  will-change: opacity, transform;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.section-top-pad-48{
  padding-top: 48px;
}
.section-top-pad{
  padding-top: 98px;
}

.top-pad-76{
  padding-top:76px;
}

.top-pad-88{
  padding-top:88px;
}
.bottom-pad-88{
  padding-bottom:88px;
}

.section-pad-90{
  padding-top:90px;
  padding-bottom:90px;
}

.section-pad-50{
  padding-top:50;
  padding-bottom:50;
}

.bg-light-gray{
  background-color: #FAFAFA;
}

.bg-light-gray-pad-50{
  background-color: #FAFAFA; padding: 50px;
}

.bg-light-gray-pad-20{
  background-color: #FAFAFA; padding: 20px; position: relative; margin-bottom: 0px;
}
.exclusive-btn{
  position: absolute; right: 0px; top: 20px;
}

.bg-light-gray-with-pad{
  background-color: #FAFAFA;
    padding-top:50px;
   padding-bottom:50px;
}
 


    @media (min-width: 769px) and (max-width: 1400px) {
.btn-pad-regular{
  padding: 6px 10px; height: auto;
 }

}

    @media (max-width: 768px) {
      .text-30{
  font-size: 24px;
}

      .exclusive-btn{
  position: relative; right: auto; top: 0px; left: 0; margin-bottom: 10px;
}
      
 .btn-pad-header{
  padding: 14px 46px; 
 }



      .faq-icon{
  padding: 12px 10px 12px 10px; align-items: center; justify-content: center; display: flex; background-color: #FFFFFF; border-radius: 100%; 
}
      .text-playfair-display{
  font-family: "Playfair Display", serif!important; font-size: 24px; line-height:32px; font-weight: 800;
}
.text-55{
  font-size: 24px;font-family: 'Helvetica';
}
      .bg-light-gray-pad-50{
  background-color: #FAFAFA; padding: 32px 24px;
}
.top-pad-76{
  padding-top:48px;
}

.bottom-pad-88{
  padding-bottom:48px;
}
      .section-top-pad{
  padding-top: 48px;
}

.top-pad-88{
  padding-top:48px;
}
.section-pad-90{
  padding-top:48px;
  padding-bottom:48px;
}

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }


  .ba-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%; /* fully responsive */
}

.ba-slider img {
  width: 100%;
  display: block;
}

.ba-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;   
}
.ba-slider .resize_over_color {
  position: absolute;
   height: 100%;
  width: 100%;
   background-color: #37343545;  z-index: 2;
  pointer-events: none;
}
.ba-slider .resize img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
}



.ba-slider .handle {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background: #fff;
  cursor: ew-resize;
  z-index: 10;
  transition: background 0.2s;
}

.ba-slider .handle:hover {
  background: #ddd;
}

.ba-slider .handle::after {
  content: '';
    position: absolute;
    top: 50%;
    width: 41px;
    height: 41px;
    margin: -32px 0 0 -22px; 
    background-image: url(../images/sleepId/slide/slide-btn.png); background-repeat: no-repeat; background-position: left top;
}
 

 /* ===== UNIQUE CORE STYLES ===== */
.tw3d-rotator{
  position:relative;
  z-index:20;
}
.tw3d-rotator img{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%) scale(.85);
  opacity:0;
  transition:all .65s cubic-bezier(.25,.8,.25,1);
  z-index:1;
  pointer-events:none;
}

/* loader reveal */
.tw3d-rotator img.tw3d-show{
  opacity:1;
  transform:translateX(-50%) scale(1) rotate(var(--rot));
}

/* carousel base */
.tw3d-rotator.tw3d-carousel img{
  opacity:0;
}

/* CENTER */
.tw3d-rotator.tw3d-carousel img.tw3d-active{
  opacity:1;
  left:50%;
  transform:translateX(-50%) scale(1);
  z-index:3;
}

/* RIGHT */
.tw3d-rotator.tw3d-carousel img.tw3d-next{
  opacity:.9;
  left:100%;
  transform:translateX(-95%) scale(.78);
  filter:blur(4px);
  z-index:2;
}

/* LEFT */
.tw3d-rotator.tw3d-carousel img.tw3d-prev{
  opacity:.9;
  left:0%;
  transform:translateX(-5%) scale(.78);
  filter:blur(4px);
  z-index:2;
}

/* hide buttons during loading */
.tw3d-rotator:not(.tw3d-carousel) button{
  opacity:0;
  pointer-events:none;
}

/* show after ready */
.tw3d-rotator.tw3d-carousel button{
  opacity:1;
}


/* ALWAYS keep buttons above slides */
.tw3d-rotator button{
  position:absolute;
  z-index:9999 !important;
  display:flex !important;
  opacity:1 !important;
  visibility:visible !important;
  pointer-events:auto !important;
}

/* make sure icon visible */
.tw3d-rotator button img{
  display:block;
  opacity:1 !important;
}

/* Hide buttons ONLY during loader */
.tw3d-rotator:not(.tw3d-carousel) button{
  opacity:0 !important;
  visibility:hidden !important;
  pointer-events:none !important;
}

/* Show buttons after carousel ready */
.tw3d-rotator.tw3d-carousel button{
  opacity:1 !important;
  visibility:visible !important;
  pointer-events:auto !important;
}