 @import url('https://fonts.googleapis.com/css2?family=Federo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
 body{
    background-color: #FFFFFF!important;
}
h1, h2, h3, h4, h5, h6 {
       font-family: "Plus Jakarta Sans", sans-serif;
 }
 .text-figtree{
  font-family: "Figtree", sans-serif; 
}

.text-12{
  font-size: 12px;
}
.text-14{
  font-size: 14px;
}
.text-17{
  font-size: 17px;
}

.text-18{
  font-size: 18px;
}
.text-20-heading{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #4C4C4C;
}

.text-20-heading-sidebar{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}


.text-dark{
  color: #010101;
}

.ul-li-text{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #4C4C4C;
}

.faq-icon{
  width: 40px; height: 40px; align-items: center; justify-content: center; display: flex; background-color: #FFFFFF; border-radius: 100%;
}

.bg-faq-item-block{
  background-color: #FAFAFA; padding: 18px;
}
.icon-dark{
  color: #1E1E31;
}

.faq-content{
  font-size: 14px; color: #000000;
}

.para-txt{
  color: #4C4C4C; font-size: 20px; line-height: 28px;
}

.side-block-bg{
  background-color: #FAFAFA; padding: 20px;
}

   .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
footer{
  background-color:#1b1b2f
}

  .tags-popular-text, a.tags-popular-text {
font-family: "Figtree", sans-serif;
  font-weight: 400; font-size: 14px;
  font-style: normal; color: #6D6D6D; text-decoration: none;
}
 a.tags-popular-text:hover{
  text-decoration: none;color: #FFFFFF;background-color: #6D6D6D;
 }


    @media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }