  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


  body{
    background-color: #FFFFFF!important;
}
h1, h2, h3, h4, h5, h6 {
       font-family: "Plus Jakarta Sans", sans-serif;
 }
 .text-figtree{
  font-family: "Figtree", sans-serif; 
}

.list-star li{
  background-image: url("../images/list-tick-star.png");
  background-repeat: no-repeat;
  background-position: left 4px; padding-left: 24px;
}

.text-12{
  font-size: 12px;
}
.text-14{
  font-size: 14px;
}
.text-17{
  font-size: 17px;
}

.text-16{
  font-size: 16px;
}

.text-18{
  font-size: 18px;
}

.text-20{
  font-size: 20px;
}

.text-black-variant{
color: #4C4C4C;
}
.text-20-heading{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #4C4C4C;
}

.text-24-heading{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}

.text-28-heading{
  font-size: 28px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}

.text-20-heading-black{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}

.text-38-heading{
  font-size:38px;font-family: "Plus Jakarta Sans", sans-serif; color: #1E1E31;
}


.text-20-heading-sidebar{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #000000;
}


.text-dark{
  color: #010101;
}

.text-playfair-display{
  font-family: "Playfair Display", serif!important; font-size: 48px; font-weight: 800;
}


.ul-li-text{
  font-size: 20px;font-family: "Plus Jakarta Sans", sans-serif; color: #4C4C4C;
}

.faq-icon{
  width: 40px; height: 40px; align-items: center; justify-content: center; display: flex; background-color: #FFFFFF; border-radius: 100%;
}

.bg-faq-item-block{
  background-color: #FAFAFA; padding: 18px;
}
.icon-dark{
  color: #1E1E31;
}

.faq-content{
  font-size: 14px; color: #000000;
}

.para-txt{
  color: #4C4C4C; font-size: 20px; line-height: 28px;
}

.side-block-bg{
  background-color: #FAFAFA; padding: 20px;
}

   .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
footer{
  background-color:#1b1b2f
}

  .tags-popular-text, a.tags-popular-text {
font-family: "Figtree", sans-serif;
  font-weight: 400; font-size: 14px;
  font-style: normal; color: #6D6D6D; text-decoration: none;
}
 a.tags-popular-text:hover{
  text-decoration: none;color: #FFFFFF;background-color: #6D6D6D;
 }

 .reveal {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
  will-change: opacity, transform;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.section-top-pad-48{
  padding-top: 48px;
}
.section-top-pad{
  padding-top: 98px;
}

.top-pad-76{
  padding-top:76px;
}

.top-pad-88{
  padding-top:88px;
}
.bottom-pad-88{
  padding-bottom:88px;
}

.section-pad-90{
  padding-top:90px;
  padding-bottom:90px;
}

.bg-light-gray{
  background-color: #FAFAFA;
}

.bg-light-gray-pad-50{
  background-color: #FAFAFA; padding: 50px;
}

.bg-light-gray-pad-20{
  background-color: #FAFAFA; padding: 20px; position: relative; margin-bottom: 0px;
}
.exclusive-btn{
  position: absolute; right: 0px; top: 20px;
}

.bg-light-gray-with-pad{
  background-color: #FAFAFA;
    padding-top:50px;
   padding-bottom:50px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


    @media (max-width: 768px) {

      .bg-light-gray-pad-50{
  background-color: #FAFAFA; padding: 32px 24px;
}
.top-pad-76{
  padding-top:48px;
}

.bottom-pad-88{
  padding-bottom:48px;
}
      .section-top-pad{
  padding-top: 48px;
}

.top-pad-88{
  padding-top:48px;
}
.section-pad-90{
  padding-top:48px;
  padding-bottom:48px;
}

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }